:root {
  --black: #030414;
  --line-color: #00f1ec;
  --blue: #0330d0;
  --footer: #3339c5;
  --alice-blue: #e4f1fb;
  --deep-pink: #fb0771;
  --steel-blue: #007afe;
  --forest-green: #08a610;
  --forest-green-2: #178c1e;
  --cornflower-blue: #618fde;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: #333;
  font-family: Roobert, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 68px;
  font-weight: 300;
  line-height: 72px;
}

h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 300;
  line-height: 68px;
}

h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 46px;
  font-weight: 300;
  line-height: 52px;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}

.line-wrapper {
  z-index: 0;
  max-width: 1198px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.background-line {
  width: .7px;
  height: 100vh;
  background-color: var(--line-color);
  opacity: .32;
}

.background-line.hide {
  width: .5px;
  margin-right: 1px;
}

.container {
  max-width: 1198px;
  margin-left: auto;
  margin-right: auto;
}

.container.padding {
  padding-left: 153px;
  padding-right: 153px;
}

.container.footer {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.container.sticky-container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.section {
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
}

.section.footer {
  z-index: 1;
  height: 100vh;
  padding-top: 180px;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.extra-padding {
  padding-top: 250px;
  padding-bottom: 200px;
}

.section.white {
  background-color: #fff;
}

.section.white.hide {
  display: none;
}

.section.client {
  padding-bottom: 30px;
}

.section.hero {
  height: 100vh;
  padding-top: 30vh;
}

.section.project-scroll, .section.web-screenshot-scroll {
  width: 100%;
  height: 300vh;
  padding-top: 0;
  padding-bottom: 0;
}

.section.tablet-mobile {
  display: none;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.title-1 {
  color: #fff;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-size: 216px;
  line-height: 224px;
}

.title-1.mobile {
  display: none;
}

.hero-sub-wrapper {
  width: 50%;
  margin-top: 45px;
  margin-left: auto;
  padding-left: 23px;
  padding-right: 23px;
}

.body-text {
  color: var(--line-color);
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.body-text.white {
  color: #fff;
}

.body-text.black {
  color: #000;
  margin-bottom: 32px;
}

.body-text.black.normal {
  margin-bottom: 0;
  font-weight: 400;
}

.text-grid-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template: ". Area Area ."
                 ". . Area-2 ."
                 ". Area-3 Area-3 Area-3"
                 ". . Area-4 ."
                 / 1fr 1fr 1fr 1fr;
  margin-left: auto;
}

.head-wrapper {
  display: flex;
}

.head-wrapper.right-alignment {
  text-align: right;
}

.title-2 {
  color: #fff;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-size: 180px;
  font-weight: 700;
  line-height: 160px;
}

.title-2.title-stroke {
  letter-spacing: -1.5px;
}

.title-2.swirl-effect {
  -webkit-text-fill-color: transparent;
  background-image: url('../images/waves.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
}

.div-overflow {
  overflow: hidden;
}

.body-30 {
  color: var(--line-color);
  text-align: right;
  margin-top: 16px;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}

.body-30.white {
  color: #fff;
}

.text-wrapper {
  padding-left: 8px;
  padding-right: 8px;
}

.overhead-title {
  color: var(--line-color);
  text-transform: uppercase;
  font-size: 16px;
}

.div-hide {
  margin-right: 45px;
  overflow: hidden;
}

.service-category-wrapper {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
}

.heading-5 {
  color: var(--line-color);
  font-size: 38px;
  font-weight: 300;
  line-height: 44px;
}

.heading-5.black {
  color: #000;
  margin-bottom: 32px;
  font-weight: 600;
}

.heading-5.bottom-margin {
  margin-bottom: 32px;
}

.heading-5.white {
  color: #fff;
}

.brand-container {
  margin-top: 72px;
  margin-left: auto;
}

.brand-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  display: flex;
}

.div-60 {
  width: 60%;
}

.award-badge-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.award-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
}

.div-50 {
  width: 50%;
}

.heading-3.white {
  color: #fff;
}

.heading-3.black {
  color: var(--black);
}

.button {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #618fde;
  border-radius: 50px;
  padding: 20px 28px;
  font-size: 16px;
  line-height: 16px;
  transition: box-shadow .3s, transform .3s;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px 1px rgba(255, 255, 255, .66);
}

.button.footer {
  color: var(--blue);
  background-color: #e2fffe;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.button.assd {
  margin-top: 44px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  display: none;
}

.button.assd:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 4px rgba(0, 122, 254, .5);
}

.button.top-margin {
  margin-top: 44px;
}

.button.top-margin.hide {
  display: none;
}

.footer-header {
  color: var(--line-color);
  margin-bottom: 32px;
  font-size: 82px;
  line-height: 86px;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-bottom {
  order: 0;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.social-wrapper {
  height: 32px;
  max-height: 100%;
  max-width: 100%;
  min-height: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.footer-text {
  color: var(--line-color);
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}

.project-wrapper {
  width: 740px;
  height: 518px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  position: relative;
}

.project-image, .project-image.large {
  width: 100%;
}

.project-content {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: auto;
  bottom: 20px;
  left: -104px;
  right: auto;
}

.project-content.mobile {
  display: none;
}

.project-title {
  color: #fff;
  font-size: 68px;
  line-height: 72px;
}

.foot-text {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 12px;
}

.foot-text.black {
  color: var(--black);
  font-weight: 600;
}

.slider-wrapper {
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 30px;
  display: flex;
}

.slider-image {
  width: 100%;
  height: 100%;
}

.slider-content {
  width: 40%;
  flex: none;
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}

.website-image {
  width: 100%;
}

.title-3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 88px;
  font-weight: 600;
  line-height: 92px;
}

.title-wrapper {
  width: 75%;
  margin-right: auto;
}

.full-wrapper.no-margin {
  margin-top: 0;
}

.full-wrapper.top-margin {
  margin-top: 120px;
}

.about-image {
  width: 100%;
  margin-top: -283px;
}

.content-wrapper {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}

.content-wrapper.no-margin {
  margin-top: 0;
}

.grid-content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.history-text {
  text-align: center;
  margin-top: 16px;
  line-height: 18px;
}

.full-image {
  margin-bottom: 56px;
  display: block;
}

.blog-grid {
  grid-template-rows: auto;
}

.blog-content {
  height: 50vh;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blog-content.blog-1 {
  background-image: url('../images/unsplash_ruJm3dBXCqw-1-1.png');
}

.blog-content.blog-2 {
  background-image: url('../images/unsplash_tZCrFpSNiIQ-1-2.png');
}

.blog-title {
  padding-top: 15px;
  padding-left: 32px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.blog-title.black {
  color: #000;
}

.full-grid {
  grid-template-rows: auto;
}

.full-grid.margin {
  grid-column-gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.download-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 120px;
}

.app-image {
  height: 60px;
  border-radius: 8px;
}

.blog-grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.case-content {
  position: relative;
  overflow: hidden;
}

.review-grid {
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.review-source-image {
  width: 25%;
  margin-top: 24px;
}

.review-text {
  border-left: 3px solid #cdcdd0;
  margin-right: 32px;
  padding-left: 16px;
}

.presence-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.overlay {
  background-color: #fff;
  margin-top: -80px;
  position: relative;
}

.making-gid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.large-card {
  height: 680px;
  background-image: url('../images/uhoohero.jpg');
  background-position: 50%;
  background-size: 1200px;
  margin-top: -100px;
  position: relative;
  top: -160px;
  overflow: visible;
}

.large-card.noteshelf {
  background-image: linear-gradient(#0330d0, #007afe);
}

.columns {
  padding: 70px 70px 40px;
  overflow: hidden;
}

.feature-image {
  margin-bottom: 36px;
}

.column-1 {
  margin-top: -170px;
  padding-left: 15px;
  padding-right: 15px;
}

.column-2 {
  margin-top: -133px;
  padding-left: 15px;
  padding-right: 15px;
}

.column-3 {
  margin-top: -202px;
  padding-left: 15px;
  padding-right: 15px;
}

.column-4 {
  margin-top: -150px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.brand-image {
  color: #fff;
}

.nav-link {
  color: #fff;
  text-transform: capitalize;
  margin-left: 34px;
  padding: 0;
  line-height: 18px;
  transition: color .3s;
}

.nav-link:hover, .nav-link.w--current {
  color: var(--line-color);
}

.nav-container {
  max-width: 1198px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-logo, .footer-logo-mobile {
  display: none;
}

.social-link {
  padding-left: 24px;
  display: flex;
  overflow: auto;
}

.social-icon {
  width: 32px;
  height: 32px;
}

.shots-wrapper {
  height: 100vh;
}

.shots-layer-1, .shots-layer-2 {
  position: relative;
}

.shot-1 {
  width: 107px;
  height: 107px;
  background-image: url('../images/metromart.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  top: 54px;
  left: 40px;
}

.shot-2 {
  width: 144px;
  height: 144px;
  background-image: url('../images/fluidtouch.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 29px;
  right: 140px;
}

.shot-3 {
  width: 216px;
  height: 432px;
  background-image: url('../images/momentgarden.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 283px;
}

.shot-4 {
  width: 205px;
  height: 444px;
  background-image: url('../images/panicmechanic.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 207px;
  left: 293px;
}

.shot-5 {
  width: 250px;
  height: 250px;
  background-image: url('../images/iphoneicons.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 239px;
  right: 0;
}

.shot-6 {
  width: 208px;
  height: 146px;
  background-image: url('../images/talk.jpg');
  background-position: 50%;
  background-size: 208px;
  border-radius: 10px;
  position: absolute;
  top: 160px;
  left: 480px;
}

.shot-7 {
  width: 238px;
  height: 134px;
  background-image: url('../images/tvapp.png');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 10px;
  position: absolute;
  top: 500px;
  left: 680px;
}

.shot-8 {
  width: 161px;
  height: 161px;
  background-image: url('../images/tiphospitality.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 560px;
  right: 27px;
}

.shot-9 {
  width: 174px;
  height: 174px;
  background-image: url('../images/icon.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 120px;
  left: 120px;
}

.shot-10 {
  width: 172px;
  height: 350px;
  background-image: url('../images/promly.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 73px;
  right: 260px;
}

.shot-11 {
  width: 331px;
  height: 280px;
  background-image: url('../images/switchpod.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 580px;
  left: 120px;
}

.shot-12 {
  width: 130px;
  height: 130px;
  background-image: url('../images/mealboard.png');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  top: 566px;
  right: 168px;
}

.hero-shot-4 {
  z-index: -1;
  width: 15vw;
  position: absolute;
  top: 60px;
  bottom: auto;
  left: auto;
  right: 31%;
  transform: rotate(-20deg);
}

.hero-shot-3 {
  z-index: -2;
  width: 16vw;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: auto;
  right: 16%;
  transform: rotate(28deg);
}

.hero-shot-2 {
  width: 17vw;
  position: absolute;
  top: auto;
  bottom: 64px;
  left: 22%;
  right: auto;
  transform: rotate(-10deg);
}

.hero-shot-1 {
  width: 20vw;
  position: absolute;
  top: auto;
  bottom: 50px;
  left: 6%;
  right: auto;
  transform: rotate(-20deg);
}

.brand-row {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.horizontal-sticky {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.horizontal-trigger {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.web-screenshot-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.web-screenshot-line {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.web-screenshot-line.margin {
  margin-bottom: 0;
  margin-left: 140px;
}

.web-screenshot-image {
  width: 34%;
  flex: none;
  margin-right: 25px;
}

.noteshelf-bg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-noteshelf.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uhoo-bg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-uhoo.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer-bg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: var(--footer);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.project-overflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 28px 28px 40px rgba(0, 0, 0, .1);
}

.project-overflow.hide {
  display: none;
}

.heading-6 {
  color: #ce9049;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}

.heading-6.black {
  color: var(--black);
  font-weight: 600;
}

.heading-6.weight-semibold {
  font-weight: 600;
}

.headline-4.black {
  color: var(--black);
  margin-bottom: 36px;
  font-weight: 600;
}

.text-span {
  color: var(--alice-blue);
}

.logo-wrapper {
  z-index: 20;
  width: 160px;
  justify-content: center;
  align-items: center;
  padding: 22px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 9%;
  right: auto;
}

.logo-wrapper.desktop {
  bottom: 4%;
  left: 7%;
}

.logo-wrapper.mobile {
  display: none;
}

.logo-scroll-text {
  position: absolute;
}

.list-item {
  color: #000;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.image-3 {
  width: 100%;
  display: block;
}

.caption {
  text-align: right;
}

.caption-link {
  color: rgba(3, 4, 20, .5);
}

.image-4 {
  width: 100%;
  display: block;
}

.text-span-2 {
  color: #eaef54;
}

.shot-13 {
  width: 149px;
  height: 298px;
  background-image: url('../images/swimming.png');
  background-position: 50%;
  background-size: 149px;
  position: absolute;
  top: 380px;
  left: 580px;
}

.social {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.text-span-3 {
  color: var(--deep-pink);
}

.presslink {
  font-size: 16px;
}

.italic-text {
  line-height: 19px;
}

.global-style {
  display: none;
}

.award-wrapper-web {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
}

.shot-2b {
  width: 139px;
  height: 139px;
  background-image: url('../images/noteshelf.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 110px;
  right: 30px;
}

.link {
  color: var(--alice-blue);
}

.pdf {
  max-height: 100vh;
  max-width: 100%;
  min-height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.link-2 {
  color: #a05909;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container.padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .section.extra-padding {
    padding-top: 146px;
    padding-bottom: 146px;
  }

  .section.client {
    display: none;
  }

  .section.hero {
    align-items: center;
  }

  .section.project-scroll, .section.web-screenshot-scroll {
    height: 270vh;
  }

  .section.tablet-mobile {
    display: block;
    overflow: hidden;
  }

  .title-1 {
    text-align: center;
    font-size: 130px;
    line-height: 132px;
  }

  .hero-sub-wrapper {
    width: 70%;
    margin-top: 24px;
  }

  .body-text {
    font-size: 20px;
    line-height: 28px;
  }

  .body-text.black.normal {
    margin-bottom: 16px;
  }

  .text-grid-wrapper {
    grid-template-areas: ". Area Area ."
                         ". . Area-2 ."
                         "Area-3 Area-3 Area-3 Area-3"
                         ". . Area-4 .";
  }

  .head-wrapper.right-alignment {
    justify-content: flex-end;
  }

  .title-2 {
    font-size: 160px;
    line-height: 140px;
  }

  .title-2.swirl-effect {
    font-size: 109px;
  }

  .body-30.white {
    font-size: 26px;
    line-height: 34px;
  }

  .div-hide {
    margin-right: 30px;
    overflow: hidden;
  }

  .heading-2 {
    font-size: 38px;
    line-height: 45px;
  }

  .heading-5 {
    font-size: 32px;
    line-height: 42px;
  }

  .brand-container.tablet-mobile {
    margin-top: 38px;
    overflow: auto;
  }

  .brand-wrapper {
    width: 200vw;
    margin-bottom: 0;
  }

  .div-60 {
    width: 80%;
  }

  .award-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .div-50 {
    width: 80%;
  }

  .div-50._70 {
    width: 70%;
  }

  .heading-3 {
    font-size: 44px;
    line-height: 58px;
  }

  .heading-3.white {
    font-size: 38px;
    line-height: 50px;
  }

  .footer-header {
    font-size: 60px;
    line-height: 70px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .social-wrapper {
    width: 24%;
  }

  .footer-text {
    font-size: 20px;
    line-height: 36px;
  }

  .page-wrapper {
    overflow: hidden;
  }

  .project-wrapper {
    width: auto;
    height: auto;
  }

  .project-content {
    z-index: 1;
    left: -47px;
  }

  .project-title {
    font-size: 50px;
    line-height: 60px;
  }

  .slider-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .slider-content {
    width: 45%;
    margin-right: 8px;
  }

  .full-wrapper.top-margin {
    margin-top: 71px;
  }

  .about-image {
    margin-top: -214px;
  }

  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .content-wrapper.no-margin {
    padding-left: 40px;
    padding-right: 40px;
  }

  .app-image {
    height: 50px;
  }

  .blog-grid-2 {
    grid-column-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .review-source-image {
    width: 25%;
    margin-top: 0;
  }

  .presence-grid {
    grid-column-gap: 0px;
  }

  .making-gid {
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }

  .large-card {
    margin-top: -45px;
  }

  .columns {
    padding-left: 30px;
    padding-right: 30px;
  }

  .column-1 {
    margin-top: -135px;
  }

  .column-2 {
    margin-top: -85px;
  }

  .column-3 {
    margin-top: -135px;
  }

  .column-4 {
    margin-top: -110px;
  }

  .brand-image {
    height: 20px;
  }

  .nav-menu {
    background-color: rgba(3, 4, 20, .78);
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    opacity: .9;
    text-align: center;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
  }

  .nav-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .award-image-web {
    width: 100px;
  }

  .award-image-web.middle {
    width: 290px;
  }

  .rank-image {
    width: 180px;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-mobile {
    margin-bottom: 20px;
    display: block;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: var(--black);
  }

  .menu-icon {
    background-image: url('../images/menu.svg');
    background-position: 0 0;
    background-size: auto;
    display: none;
  }

  .shot-1 {
    width: 90px;
    height: 90px;
  }

  .shot-2 {
    top: 16px;
    right: 120px;
  }

  .shot-3 {
    top: 230px;
  }

  .shot-4 {
    left: 240px;
  }

  .shot-5 {
    display: none;
  }

  .shot-6 {
    top: 0;
    left: 240px;
  }

  .shot-7 {
    top: 240px;
    left: 400px;
  }

  .shot-8 {
    top: 640px;
  }

  .shot-9 {
    width: 140px;
    height: 140px;
  }

  .shot-10 {
    top: 280px;
    right: 90px;
  }

  .shot-11 {
    top: 520px;
  }

  .hero-shot-4 {
    width: 32vw;
    right: 16%;
  }

  .hero-shot-3 {
    width: 32vw;
    right: -12%;
  }

  .hero-shot-2 {
    width: 32vw;
    top: auto;
    bottom: 0%;
    left: 24%;
    right: auto;
  }

  .hero-shot-1 {
    width: 32vw;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .horizontal-sticky.brand {
    top: 74px;
  }

  .web-screenshot-wrapper {
    width: 150vw;
  }

  .web-screenshot-image {
    width: 24%;
  }

  .award-wrapper-web {
    padding-left: 60px;
    padding-right: 60px;
  }

  .shot-2b {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .container.padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.extra-padding {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .section.project-scroll, .section.web-screenshot-scroll {
    height: 100%;
  }

  .section.tablet-mobile {
    overflow: visible;
  }

  .title-1 {
    font-size: 90px;
    line-height: 94px;
  }

  .hero-sub-wrapper {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .body-text {
    font-size: 18px;
    line-height: 24px;
  }

  .head-wrapper.right-alignment {
    justify-content: center;
  }

  .title-2 {
    font-size: 110px;
    line-height: 110px;
  }

  .title-2.swirl-effect {
    font-size: 100px;
    line-height: 100px;
  }

  .div-overflow {
    text-align: right;
    justify-content: center;
    align-items: center;
  }

  .body-30 {
    font-size: 22px;
    line-height: 28px;
  }

  .body-30.white {
    font-size: 24px;
    line-height: 32px;
  }

  .brand-container.tablet-mobile {
    top: 100px;
  }

  .award-badge-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .award-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .div-50._70 {
    width: 100%;
  }

  .footer-header {
    font-size: 56px;
    line-height: 60px;
  }

  .social-wrapper {
    width: 30%;
  }

  .project-content {
    width: 100%;
    margin-top: 26px;
    position: static;
  }

  .project-title {
    font-size: 40px;
    line-height: 50px;
  }

  .slider-wrapper {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
  }

  .slider-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .full-wrapper.top-margin {
    margin-top: 62px;
  }

  .content-wrapper.no-margin {
    padding-left: 0;
    padding-right: 0;
  }

  .blog-title {
    padding-left: 15px;
  }

  .full-grid.margin {
    grid-column-gap: 10px;
  }

  .review-source-image {
    width: 60%;
  }

  .large-card {
    margin-top: 0;
  }

  .columns {
    padding: 0 0 30px;
    display: flex;
  }

  .column-1 {
    margin-top: -34px;
  }

  .column-2 {
    margin-top: -8px;
  }

  .column-3 {
    margin-top: -50px;
  }

  .column-4 {
    margin-top: 0;
  }

  .brand-link {
    padding-left: 0;
  }

  .nav-link {
    transition: border .4s, color .3s;
  }

  .award-image-web {
    width: 80px;
  }

  .award-image-web.middle {
    width: 220px;
  }

  .rank-image {
    width: 230px;
    margin-bottom: 23px;
  }

  .shot-2 {
    width: 100px;
    height: 100px;
  }

  .shot-3 {
    width: 140px;
    height: 280px;
    border-radius: 10px;
  }

  .shot-4 {
    width: 160px;
    height: 320px;
    border-radius: 10px;
    display: block;
    left: 220px;
  }

  .shot-5 {
    width: 200px;
    height: 200px;
    display: block;
    top: 440px;
  }

  .shot-6 {
    display: block;
  }

  .shot-7 {
    left: 380px;
  }

  .shot-8 {
    display: none;
    top: 500px;
  }

  .shot-9 {
    display: block;
  }

  .shot-10 {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    top: 380px;
    right: 250px;
  }

  .shot-11 {
    display: none;
    left: 200px;
  }

  .shot-12 {
    top: 630px;
  }

  .hero-shot-2 {
    top: auto;
    bottom: 0%;
    left: 15%;
    right: auto;
  }

  .hero-shot-1 {
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .web-screenshot-wrapper {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 19px;
    padding-left: 0;
    padding-right: 0;
  }

  .web-screenshot-line {
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 0;
    display: grid;
  }

  .web-screenshot-line.margin {
    margin-left: 0;
  }

  .web-screenshot-image {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  .heading-6 {
    font-size: 22px;
  }

  .headline-4.black {
    font-size: 40px;
    line-height: 46px;
  }

  .logo-wrapper {
    position: static;
  }

  .logo-wrapper.desktop {
    display: none;
  }

  .logo-wrapper.mobile {
    z-index: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    left: 0%;
  }

  .logo-scroll-text {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .award-wrapper-web {
    padding-left: 25px;
    padding-right: 25px;
  }

  .shot-2b {
    width: 120px;
    height: 120px;
    top: 140px;
  }
}

@media screen and (max-width: 479px) {
  .background-line {
    padding-left: 0;
    padding-right: 0;
  }

  .background-line.hide {
    display: none;
  }

  .container.padding, .container.hidden {
    padding-left: 0;
    padding-right: 0;
  }

  .container.sticky-container {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .section {
    padding-bottom: 40px;
  }

  .section.footer {
    padding-top: 100px;
  }

  .section.extra-padding {
    padding-top: 111px;
    padding-bottom: 111px;
  }

  .section.client {
    display: none;
  }

  .hero-wrapper {
    margin-top: -44px;
  }

  .title-1 {
    font-size: 60px;
    display: none;
  }

  .title-1.mobile {
    text-align: left;
    font-size: 80px;
    line-height: 80px;
    display: block;
  }

  .hero-sub-wrapper {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .body-text {
    font-size: 18px;
    line-height: 24px;
  }

  .body-text.white {
    font-size: 24px;
    line-height: 32px;
  }

  .text-grid-wrapper {
    width: 100%;
    grid-template: "Area Area . ."
                   ". . Area-2 Area-2"
                   "Area-3 Area-3 Area-3 Area-3"
                   ". Area-4 Area-4 Area-4"
                   / 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .title-2 {
    font-size: 88px;
    line-height: 80px;
  }

  .title-2.swirl-effect {
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    font-size: 56px;
    line-height: 60px;
  }

  .body-30 {
    font-size: 20px;
    line-height: 32px;
  }

  .body-30.white {
    text-align: left;
    margin-top: 4px;
    font-size: 26px;
  }

  .text-wrapper {
    padding-right: 0;
  }

  .service-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-hide {
    margin-right: 0;
    padding-bottom: 8px;
    padding-right: 32px;
    overflow: visible;
  }

  .heading-2 {
    font-size: 44px;
    line-height: 48px;
  }

  .heading-5.white {
    font-size: 24px;
    line-height: 32px;
  }

  .brand-container.tablet-mobile {
    width: 100vw;
  }

  .brand-wrapper {
    width: 340vw;
    padding-right: 30px;
  }

  .div-60 {
    width: 100%;
  }

  .award-badge-wrapper {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .award-wrapper {
    text-align: center;
    flex-direction: column;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .div-50, .div-50._70 {
    width: 100%;
  }

  .heading-3 {
    font-size: 32px;
    line-height: 36px;
  }

  .button.footer {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
  }

  .footer-header {
    font-size: 56px;
    line-height: 60px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    align-self: stretch;
  }

  .copyright-wrapper {
    text-align: center;
    align-self: stretch;
    margin-bottom: 40px;
    display: block;
  }

  .project-wrapper {
    position: relative;
  }

  .project-content {
    margin-left: 0;
    display: none;
  }

  .project-content.mobile {
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
  }

  .project-title {
    font-size: 40px;
    line-height: 48px;
  }

  .slider-wrapper {
    grid-template-columns: 1fr;
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .title-3 {
    font-size: 60px;
    line-height: 70px;
  }

  .title-wrapper {
    width: 100%;
  }

  .full-wrapper {
    justify-content: center;
    align-items: center;
    display: block;
  }

  .full-wrapper.top-margin {
    margin-top: 50px;
  }

  .about-image {
    margin-top: -162px;
  }

  .content-wrapper {
    margin-top: 60px;
  }

  .full-image {
    width: 100%;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }

  .blog-content {
    height: 40vh;
  }

  .blog-title {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 0;
    padding-left: 0;
  }

  .full-grid.margin {
    grid-template-columns: 1fr;
  }

  .download-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .blog-grid-2, .review-grid {
    grid-template-columns: 1fr;
  }

  .review-content {
    overflow: auto;
  }

  .review-source-image {
    width: 37%;
    margin-top: 0;
  }

  .presence-grid {
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .precence-content {
    padding-bottom: 16px;
  }

  .overlay {
    margin-top: -100px;
  }

  .making-gid {
    grid-template-columns: 1fr 1fr;
  }

  .large-card {
    margin-left: -20px;
    margin-right: -20px;
  }

  .large-card.uhoo {
    height: 240px;
    background-size: cover;
  }

  .large-card.noteshelf {
    height: 230px;
  }

  .columns {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .column-1, .column-2, .column-3, .column-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, .42);
  }

  .nav-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .award-image-web {
    width: 16%;
    padding: 30px 8px;
  }

  .award-image-web.middle {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .rank-image {
    width: 180px;
    margin-bottom: 20px;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-mobile {
    margin-bottom: 32px;
    display: none;
  }

  .social-link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .shots-wrapper {
    height: 70vh;
  }

  .shot-1 {
    display: none;
  }

  .shot-2 {
    right: 200px;
  }

  .shot-3 {
    width: 120px;
    height: 240px;
    left: 10px;
  }

  .shot-4 {
    width: 40%;
    height: 260px;
    display: block;
    top: 30px;
    left: 154px;
  }

  .shot-5 {
    display: block;
    top: 340px;
    right: -10px;
  }

  .shot-6 {
    width: 200px;
    height: 120px;
    display: block;
    left: 203px;
  }

  .shot-7 {
    display: none;
    left: 100px;
  }

  .shot-8 {
    width: 120px;
    height: 120px;
    display: block;
    top: 280px;
  }

  .shot-9 {
    display: none;
  }

  .shot-10 {
    display: none;
    top: 30%;
    bottom: auto;
    left: auto;
    right: 40%;
  }

  .shot-11 {
    display: none;
    top: 415px;
    left: -20px;
  }

  .shot-12 {
    top: 500px;
  }

  .hero-shot-4 {
    width: 42vw;
    top: 69px;
    right: 20%;
  }

  .hero-shot-3 {
    width: 38vw;
    top: 69px;
    right: -10%;
  }

  .hero-shot-2 {
    width: 52vw;
    top: auto;
    bottom: 0%;
    left: 44%;
    right: auto;
  }

  .hero-shot-1 {
    width: 48vw;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .brand-row {
    grid-column-gap: 40px;
    justify-items: start;
  }

  .web-screenshot-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .web-screenshot-line.second {
    display: none;
  }

  .heading-6.black, .heading-6.weight-semibold {
    line-height: 28px;
  }

  .title-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-wrapper.mobile {
    width: 16vh;
    margin-top: 120px;
  }

  .logo-scroll-text {
    max-width: 100%;
  }

  .list-item {
    font-size: 18px;
    line-height: 24px;
  }

  .shot-13 {
    display: none;
    left: -50px;
  }

  .social {
    align-self: stretch;
  }

  .award-wrapper-web {
    text-align: center;
    flex-direction: column;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .shot-2b {
    top: 100px;
    right: 160px;
  }
}

#w-node-_1b29699b-d537-105c-e4ba-45824d067c3e-06d1a751 {
  grid-area: Area;
}

#w-node-ce88f0fd-8013-a2fe-5854-541ae29bbc49-06d1a751 {
  grid-area: Area-2;
}

#w-node-_4d5ad184-8617-7df8-4b5c-8021fb45baf4-06d1a751 {
  grid-area: Area-3;
}

#w-node-_5070c200-adf7-8f03-5c56-ca36f5d3d25f-06d1a751 {
  grid-area: Area-4;
}

#w-node-_7f53bcc4-7601-ddd6-16bb-0e564e8560df-06d1a751, #w-node-_6cb2496f-20b5-af40-250e-e5b9754e1a6c-06d1a751, #w-node-_6cb2496f-20b5-af40-250e-e5b9754e1a71-06d1a751, #w-node-b733855d-80c7-d009-9bab-e77da7eea9f6-06d1a751, #w-node-b733855d-80c7-d009-9bab-e77da7eea9fb-06d1a751, #w-node-b733855d-80c7-d009-9bab-e77da7eea9fc-06d1a751, #w-node-bafcf688-5861-5a2f-1abc-c8fc31125ee0-06d1a751, #w-node-bafcf688-5861-5a2f-1abc-c8fc31125ee2-06d1a751, #w-node-bafcf688-5861-5a2f-1abc-c8fc31125ee5-06d1a751, #w-node-bafcf688-5861-5a2f-1abc-c8fc31125ee6-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c06-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c10-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c15-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c1a-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c1f-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c20-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c24-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c26-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c29-06d1a751, #w-node-_9201e41a-add7-77b3-97ac-ec6f7a0f4c2a-06d1a751, #w-node-_1e1cfadb-4f32-246c-6b54-7d3caa744755-06d1a751 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4d5ad184-8617-7df8-4b5c-8021fb45baf4-06d1a751 {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_89506f47-44f7-8085-33d1-523cb2941e0f-06d1a751, #w-node-d0cbb9cc-976a-f963-a4eb-caad25174deb-06d1a751, #w-node-_16652e41-762c-e463-eade-51558e1ec2f8-06d1a751 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_16652e41-762c-e463-eade-51558e1ec2f8-06d1a751 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-ecc69e69-8fbf-844d-a186-f7748871a1ca-5d672187, #w-node-ecc69e69-8fbf-844d-a186-f7748871a1ca-f4310ecb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


@font-face {
  font-family: 'Roobert';
  src: url('../fonts/Roobert-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('../fonts/Roobert-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('../fonts/Roobert-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('../fonts/Roobert-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}