/*MAIN-BG.CSS*/

/*--------------------------------------------------------------*/
/* INTRO VARIANTS FOR WHAT? */ 
/*--------------------------------------------------------------*/
.intro01-bg{
	background-image: url('../images/promo/01.jpg');
}
.intro04-bg{
	background-image: url('../images/promo/02.jpg');
}
.intro07-bg{
	background-image: url('../images/promo/03.jpg');
}
.intro-08-bg{
	background-image: url('../images/promo/04.jpg');
}
.intro12-bg{
	background-image: url('../images/promo/05.jpg');
}

/*--------------------------------------------------------------*/
/* SHOWCASE VARIANTS */
/*--------------------------------------------------------------*/

.showcase-01-layer-01{
	background-image: url('../images/promo/01.jpg');
}
.showcase-01-layer-02{
	background-image: url('../images/promo/02.jpg');
}
.showcase-01-layer-03{
	background-image: url('../images/promo/03.jpg');
}
.showcase-01-layer-04{
	background-image: url('../images/promo/04.jpg');
}
.showcase-01-layer-05{
	background-image: url('../images/promo/05.jpg');
}

/*--------------------------------------------------------------*/
/* PAGES AND SECTIONS */
/*--------------------------------------------------------------*/

.about-bg{
	background-image: url('../images/promo/02.jpg');
}
.about2-bg{
	background-image: url('../images/promo/03.jpg');
}
.process-bg{
	background-image: url('../images/product/bgwhink.jpg');
}
.process2-bg{
	background-image: url('../images/product/bgdigivalet.jpg');
}

/*--------------------------------------------------------------*/
/* PORTFOLIO VARIANTS */
/*--------------------------------------------------------------*/
.wall-portfolio-item-01{
	background-image: url('../images/product/whinkicon.png');
}
.wall-portfolio-item-02{
	background-image: url('../images/product/whinkassets.png');
}
.wall-portfolio-item-03{
	background-image: url('../images/product/whinkdark.png');
}
.wall-portfolio-item-04{
	background-image: url('../images/product/whinkuniversal.png');
}
.wall-portfolio-item-05{
	background-image: url('../images/product/digiiphone.jpg');
}
.wall-portfolio-item-06{
	background-image: url('../images/product/digilogos.png');
}
.wall-portfolio-item-07{
	background-image: url('../images/product/digiipad.jpg');
}
.wall-portfolio-item-08{
	background-image: url('../images/product/');
}
.wall-portfolio-item-09{
	background-image: url('../images/product/');
}